.profile {
	display: flex;
	flex-direction: column;
	padding: 50px 20px 0px 20px;
	letter-spacing: 1px;
	gap: 30px;

	@media (max-width: 768px) {
		padding: 10px 10px 0px 10px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
