.cars-table {
	&__col {
		font-family: 'Montserrat', Arial, sans-serif !important;
		text-align: center !important;
		font-size: 16px !important;
	}

	&__row {
		font-family: 'Montserrat', Arial, sans-serif !important;
		padding: 10px !important;
		text-align: center !important;
		font-size: 16px !important;
	}

	&__delete-icon {
		color: red;
	}

	&__edit-icon {
		color: rgb(81, 81, 250);
	}
}
