.filter {
	letter-spacing: 1px;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		gap: 40px;
		color: #fff;

		@media (max-width: 550px) {
			grid-template-columns: repeat(2, max-content);
		}
	}
}
