.react-select-container {
	height: max-content;
	background-color: #090909;
	color: #fff;

	.react-select__control {
		padding: 15px;
		background-color: #090909;
		border: 1px solid #fff;
		color: #fff;
	}

	.react-select__placeholder {
		font-size: 16px;
		font-weight: 500;
		color: #fff;
	}

	.react-select__indicators {
		cursor: pointer;

		svg {
			fill: #fff;
		}
	}

	.react-select__menu {
		background-color: #090909;
		padding: 5px 10px 10px;
		color: #fff;
	}

	.react-select__menu-list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.react-select__car {
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			border-radius: 6px;
			max-width: 70px;
			max-height: 70px;
			object-fit: cover;
		}
	}

	.react-select__info-box {
		display: flex;
		font-size: 17px;
		flex-direction: column;
	}

	.react-select__desc-group {
		font-size: 13px;
		color: #97989d;
	}

	.react-select__option {
		border-radius: 6px;
		padding: 7px 5px;

		&:hover {
			cursor: pointer;
			background-color: #1b1b1c;
		}
	}
}
