.about-us {
	padding: 50px 20px 70px 20px;
	letter-spacing: 1px;

	@media (max-width: 768px) {
		padding: 10px 10px 0px 10px;
	}

	&__wrapper {
		color: #fff;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__info-title {
		font-size: 36px;
		color: #fcea49;
	}

	&__info-subtitle {
		display: flex;
		text-align: justify;
		flex-wrap: wrap;
		word-break: break-word;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__item {
		display: flex;
		text-align: justify;
		flex-wrap: wrap;
		word-break: break-word;
	}

	&__item-title {
		font-size: 18px;
		font-weight: 500;
		color: #fcea49;
	}

	&__item-decription {
	}

	&__terms {
	}

	&__terms-title {
		font-size: 18px;
		color: #fcea49;
	}

	&__terms-list {
		display: flex;
		flex-direction: column;
	}

	&__feedback {
	}

	&__feedback-title {
		font-size: 18px;
		color: #fcea49;
	}

	&__feedback-description {
		display: flex;
		text-align: justify;
		font-size: 1rem;
		flex-wrap: wrap;
		word-break: break-word;
	}
}
